.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.deleteForm {
    display: inline;
}

.info-text {
    padding-bottom: 2rem;
}

.info-show {
    display: block;

}

.info-hide {
    display: none;

}